.output-safety h1, .how-to h1, .secure-prompts h1 {
    text-align: center;
}

.game-over {
    text-align: center;
    color: red;
    font-weight: bold;
}

.nav-bar {
    text-align: center;
}

.secure-prompts-body, .output-safety-body, .how-to-body {
    margin: 30px;
}

.question p, .potential-fix p {
    font-weight: bold;
}

.question {
    margin-bottom: 10px;
}