.output-safety h1, .how-to h1, .secure-prompts h1 {
    text-align: center;
}

.how-to .img, .how-to .gif {
    text-align: center;
}

.how-to .gif img {
    width: 700px;
    margin-bottom: 40px;
}

.how-to img {
    width: 300px;
}

#classified {
    width: 200px;
}

#marketTrends {
    width: 350px;
}

.game-over {
    text-align: center;
    color: red;
    font-weight: bold;
}

.nav-bar {
    text-align: center;
}

.secure-prompts-body, .output-safety-body, .how-to-body {
    margin: 30px;
}

.question p, .potential-fix p {
    font-weight: bold;
}

.question {
    margin-bottom: 10px;
}